# Files and directories created by pub
.packages
# Remove the following pattern if you wish to check in your lock file
pubspec.lock

# Conventional directory for build outputs
build/.packages
build/.build.manifest
build/packages
build/*.md

# Directory created by dartdoc
doc/api/
.idea/.gitignore
.idea/dictionaries/
.idea/libraries/
.idea/misc.xml
.idea/modules.xml
.idea/static_aligator_ir.iml
.idea/vcs.xml
web/content/
web/static/js/
