<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=OpenSans:400,300italic,700,700italic">
    <link rel="stylesheet" href="static/css/style.css">
    <meta name="description" content="وبسایت شخصی علی قنبری که بعنوان Aligator هم شناخته می شود.">
    <meta name="keywords" content="Ali, Ali Ghanbari, Ghanbari, {{{ tags }}}"/>
</head>
<body>
<div class="ui container">
    {{> navbar2 }}
    <div id="content">{{{ content }}}</div>
</div>
</body>
</html>