<p>Watched a total of <span id="watchtime-hours"></span> hours and <span id="watchtime-minutes"></span>
    minutes of anime.</p>
<p class="uk-text-small uk-text-muted">last updated {{ date }}</p>
<div>
    <div class="uk-grid-small uk-grid-match uk-text-center uk-child-width-auto uk-ce" uk-grid>
        {{#anime}}
            {{#valid}}
                <div class="watchable" id="{{id}}" ep="{{ep}}" len="{{len}}" score="{{score}}">
                    <div class="uk-card uk-card-default uk-card-body uk-inline uk-padding-remove anime-card-width uk-animation-fade">
                        <img class="anime-poster anime-card-height" src="/static/upload/images/anime/{{id}}.jpg" alt="{{id}}_img">
                        <div class="uk-overlay uk-position-top-right uk-padding-remove">
                            <p class="uk-background-secondary uk-text-small uk-text-warning" style="padding: 4px">{{score}}</p>
                        </div>
                        <div class="uk-overlay uk-position-bottom uk-padding-remove">
                            <p class="uk-text-small color-white uk-text-top text-background-dark anime-card-width">{{ name }}</p>
                        </div>
                    </div>
                </div>
            {{/valid}}
        {{/anime}}
    </div>
    <br/>
</div>