$ag-accent:#00BFA5;
$ag-background:#262D39;
$ag-background-dark:#1D2531;
$ag-text-light:#C7DBD8;
$ag-text-dark:#556175;

.ag-background {
    background-color: $ag-background;
}

.ag-background-dark {
    background-color: $ag-background-dark;
}

.ag-text-light {
    color: $ag-text-light;
}

.ag-text-dark {
    color: $ag-text-dark;
}

.ag-text-accent {
    color: $ag-accent;
}

@import "fonts/fonts";
@import "bootstrap/bootstrap";

.nav-link {
    font-family: 'Comfortaa', cursive;
}

h1 {
    font-family: 'nerisblack', sans-serif;
}

h2 {
    font-family: 'nerisblack', sans-serif;
    color: $ag-accent;
}

p {
    font-family: 'Quicksand', sans-serif;
}

h6 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    color: $ag-text-dark;
}

.card-text-big p{
    font-size: larger;
    line-height: 2.5rem;
}

.color-white {
    color: white;
}

.text-background-dark {
    background-color: black;
}

.anime-card-width {
    max-width: 225px !important;
}

.anime-card-height {
    max-height: 320px !important;
}

.anime-poster {
    max-height: 320px;
    width: 225px !important;
    clip: auto;
}

.anime-score {
    color: white;
    font-weight: bold;
    background-color: gold;
    border-color: gold;
    border-radius: 100%;
}

.star-icon-color {
    fill: #ffdb2b;
}
