$ag-accent:#00BFA5;
$ag-background:#262D39;
$ag-background-dark:#1D2531;
$ag-text-light:#C7DBD8;
$ag-text-dark:#556175;

.ag-background {
    background-color: $ag-background;
}

.ag-background-dark {
    background-color: $ag-background-dark;
}

.ag-text-light {
    color: $ag-text-light;
}

.ag-text-dark {
    color: $ag-text-dark;
}

.ag-text-accent {
    color: $ag-accent;
}

$body-bg: $ag-background;
$body-color: $ag-text-light;

@import "bootstrap/bootstrap";

.navbar-dark .navbar-nav .nav-link {
    color: $ag-text-dark;
}

.navbar-dark .navbar-nav .nav-link:hover{
    color: $ag-text-light;
}

.navbar-dark .navbar-nav .nav-link.active{
    color: $ag-accent;
}





p {
    font-size: large;
}

.color-white {
    color: white;
}

.text-background-dark {
    background-color: black;
}

.anime-card-width {
    max-width: 225px !important;
}

.anime-card-height {
    max-height: 320px !important;
}

.anime-poster {
    max-height: 320px;
    width: 225px !important;
    clip: auto;
}

.anime-score {
    color: white;
    font-weight: bold;
    background-color: gold;
    border-color: gold;
    border-radius: 100%;
}