
body {
    color: #556175;
    background-color: #262D39;
    margin: 0;
}

.text-light {
    color: #C7DBD8;
}

.text-dark {
    color: #556175;
}

p {
    font-size: large;
}

.color-white {
    color: white;
}

.text-background-dark {
    background-color: black;
}

.anime-card-width {
    max-width: 225px !important;
}

.anime-card-height {
    max-height: 320px !important;
}

.anime-poster {
    max-height: 320px;
    width: 225px !important;
    clip: auto;
}

.anime-score {
    color: white;
    font-weight: bold;
    background-color: gold;
    border-color: gold;
    border-radius: 100%;
}